.todoContainer {
  background-color: #1a202c;
  color: white;
  padding: 1.7em;
  width: 60%;
  max-width: 600px;
  height: 80vh;
  display: flex;
  flex-direction: column;
}

@media (max-width: 480px) {
  .todoContainer {
    width: 95%;
  }
}
