.item {
  display: flex;
  justify-content: space-between;
  margin: 0.2em 0;
}

.itemIcons {
  display: flex;
  column-gap: 0.5em;
  padding-right: 0.5em;
}

.itemChecked {
  text-decoration: line-through;
}
